.venv/
.pytest_cache/
.vscode/
**/test_output/**
build.env
runtime.build.env
ddb.build.env
.netrc
netrc.secret
__pycache__/
.mypy_cache/
.wizard*/

# AI stuff
.claude
.serena
.zed
CLAUDE.md
.cursor/plans/archived/

**/*.egg-info

**/runs/*
src/tools/run-on-slurm/runs
src/tools/run-on-slurm/outputs
data/drivers/*
data/alpackages/*
data/huggingface
data/vavam-driver
data/trafficsim-models/
outputs/
artifacts/
asset_harvesting/

# uv.lock is only used in local development. On the server, we use uv tool run,
# which does not require uv.lock.
**/uv.lock
.worktrees/
tmp_run_alpasim/
